<div class="box">
    <%= link_to (image_tag part.image(:medium)), part %>
    <p class="description">
        <%= part.description %>
    </p>
    <p>
        <strong>
            Posted by <%= part.user.name %>
        </strong>
    </p>
    <% if current_user == part.user %>
        <p>
          <%= link_to 'Edit', edit_part_path(part) %>
          <%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
    <% end %>
</div>